<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contenido">
    <h2 class="mb-4">Panel Principal (Dashboard)</h2>
    <div class="row g-4">
        <div class="col-md-3">
            <div class="card card-dashboard shadow-sm bg-white p-3 border-start border-primary border-4">
                <h6 class="text-muted">🍽️ Productos</h6>
                <h3 th:text="${totalProductos}">0</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-dashboard shadow-sm bg-white p-3 border-start border-success border-4">
                <h6 class="text-muted">🏷️ Categorías</h6>
                <h3 th:text="${totalCategorias}">0</h3>
            </div>
        </div>
    </div>
</div>
</html>